.profileContainer {
  border: 2px solid #161515;
  border-radius: 10px;
  width: 300px;
  background-color: rgb(245, 245, 245);
  margin: 0 auto 20px;
  overflow: hidden;
}

.profileInfo {
  padding: 10px;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: rgb(54, 54, 54);
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin: 10px auto;
}

.info {
  font-size: 16px;
  font-weight: 500;
  color: gray;
  margin-top: 5px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: lightgray;
}

.statItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  gap: 5px;
}

.statItem:last-child {
  border-right: none;
}
